# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [25]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [26]:
admissions = pd.read_csv('../data/Admission_Predict.csv') # Add the two .. to access a file that is not in the same directory as the Notebook!!

In [27]:
display(admissions)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [28]:
admissions.columns = [col.strip() for col in admissions.columns]
admissions.columns

# or:
# admissions.columns = admissions.columns.str.rstrip()

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [29]:
# Your code here:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [30]:
# Your code here:
admissions.isnull().values.any()  # isnull alone will give you the whole list as a boolean for True if there

False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [31]:
# Your code here:
# Keep the "Serial No." column and also make it the index
admissions = admissions.set_index('Serial No.', drop=False)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [32]:
# Your code here:
# I do not understand the task but an LLM wrote:

# Create a temporary DataFrame by combining 'GRE Score' and 'CGPA'
temp = admissions[['GRE Score', 'CGPA']]

# Check for duplicated rows in this new temporary DataFrame
duplicates = temp.duplicated()

# If there are no duplicates, the sum of this will be 0
are_unique = not duplicates.any()

# Output the result
print(f"Do GRE Score and CGPA uniquely identify the data? {are_unique}")

Do GRE Score and CGPA uniquely identify the data? True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [33]:
# Your code here:
# Set 'GRE Score' and 'CGPA' as a multi-index and remove them from the DataFrame
admissions.set_index(['GRE Score', 'CGPA'], inplace=True)

# Display the modified DataFrame
admissions.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [34]:
# Your code here:
# Did not know how to do this
# Reset the index of the DataFrame
admissions.reset_index(inplace=True)

# Optionally, display the modified DataFrame to verify the change
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [35]:
# Your code here:
# Do not know well how:
# Filter the DataFrame for rows where CGPA > 9 and Research = 1
filtered_df = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]

# Get the number of rows in this filtered DataFrame
number_of_rows = len(filtered_df)

# Output the result
print(f"The number of rows where CGPA is higher than 9 and the student has conducted research is {number_of_rows}.")
display(filtered_df)

"""Explanation:
admissions[(condition1) & (condition2)]: The conditions are enclosed in parentheses and combined using & to create a composite criterion that both have to be met.
len(filtered_df): Counts the number of rows in the filtered DataFrame, which gives you the result you seek.
By using logical filtering, you're able to slice the DataFrame to focus only on entries that meet both specified criteria.
This is a powerful feature of Pandas, allowing you to perform complex data queries efficiently."""

The number of rows where CGPA is higher than 9 and the student has conducted research is 101.

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
4,330,9.34,5,115,5,4.5,3.0,1,0.90
10,328,9.10,11,112,4,4.0,4.5,1,0.78
19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,334,9.70,21,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...,...
379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
384,333,9.66,385,117,4,5.0,4.0,1,0.95

"Explanation:\nadmissions[(condition1) & (condition2)]: The conditions are enclosed in parentheses and combined using & to create a composite criterion that both have to be met.\nlen(filtered_df): Counts the number of rows in the filtered DataFrame, which gives you the result you seek.\nBy using logical filtering, you're able to slice the DataFrame to focus only on entries that meet both specified criteria.\nThis is a powerful feature of Pandas, allowing you to perform complex data queries efficiently."

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [36]:
# Your code here:
# Filter the DataFrame for rows where CGPA > 9 and SOP<3.5
filtered_df2 = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]
# Get the number of rows in this filtered DataFrame
number_of_rows = len(filtered_df)
display(filtered_df)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
4,330,9.34,5,115,5,4.5,3.0,1,0.90
10,328,9.10,11,112,4,4.0,4.5,1,0.78
19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,334,9.70,21,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...,...
379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
384,333,9.66,385,117,4,5.0,4.0,1,0.95

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [37]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
   
   # Your code here:
    mean = np.mean(col)
    std_dev = np.std(col)
    standardized_column = (col - mean) / std_dev

    return standardized_column

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [38]:
# Your code here:

admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])

In [39]:
display(admissions)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [40]:
# Libraries
from random import choices

In [41]:
# Run this code:

std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])
decision_choice

['CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std']

In [42]:
# Add the 'decision_choice' as a new column to the DataFrame for lookup purposes
admissions['decision_choice'] = decision_choice

In [43]:
display(admissions)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,CGPA_std
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,CGPA_std
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,LOR_std
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,GRE_std
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,CGPA_std
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE_std
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,GRE_std
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,GRE_std

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [50]:
admissions['deciding_column'] = admissions.apply(lambda row: row[row['decision_choice']], axis= 1)
display(admissions)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,CGPA_std,1.750174
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,CGPA_std,-0.992501
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std,0.121191
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,-0.643433
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,LOR_std,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,GRE_std,0.629546
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,CGPA_std,0.852571
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE_std,1.149292
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,GRE_std,-0.409947
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,GRE_std,1.409165

In [ ]:
'''
Apparently lookup is deprecated!!
# Use the 'lookup' function to create the 'deciding_column' 
deciding_column = admissions.lookup(admissions.index, admissions['decision_choice'])

# Add the 'deciding_column' to the DataFrame
admissions['deciding_column'] = deciding_column

# Output the first few rows to verify
admissions.head()
'''

AttributeError: 'DataFrame' object has no attribute 'lookup'

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [51]:
# Your code here:

admissions['decision'] = np.where(admissions['deciding_column'] > 0.8, 1, 0)
display(admissions)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,CGPA_std,1.750174,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,CGPA_std,-0.992501,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std,0.121191,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,-0.643433,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,LOR_std,-0.481338,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,GRE_std,0.629546,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,CGPA_std,0.852571,1
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE_std,1.149292,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,GRE_std,-0.409947,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,GRE_std,1.409165,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [52]:
# Your code here:

# Sum the total number of 1s in the 'decision' column
total_accepted = admissions['decision'].sum()

# Print the result
print(f"Total number of students accepted: {total_accepted}")

Total number of students accepted: 86

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [56]:
# Your code here:

admissions.columns = admissions.columns.str.strip().str.lower().str.replace(' ', '_')
admissions.columns

display(admissions)

,gre_score,cgpa,serial_no.,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,CGPA_std,1.750174,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,CGPA_std,-0.992501,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std,0.121191,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,-0.643433,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,LOR_std,-0.481338,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,GRE_std,0.629546,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,CGPA_std,0.852571,1
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE_std,1.149292,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,GRE_std,-0.409947,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,GRE_std,1.409165,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [57]:
# Your code here:
# Step 1: Boost GRE scores for students with university rating of 4 or higher
admissions['adjusted_gre'] = admissions['gre_score']

# Apply the 10-point boos
admissions.loc[admissions['university_rating'] >=4, 'adjusted_gre' ] += 10

# Step 2: Create bins for the adjusted GRE scores
# Define the number of bins and labels. This creates four ranges of GRE scores.
bin_labels = ['Low', 'Average', 'High', 'Very High']

# Use cut to create the bins. Change the bin edges as required for your data range.
admissions['adjusted_gre_bins'] = pd.cut(admissions['adjusted_gre'], bins=4, labels=bin_labels)

display(admissions.head())

,gre_score,cgpa,serial_no.,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision,adjusted_gre,adjusted_gre_bins
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,CGPA_std,1.750174,1,347,Very High
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,CGPA_std,-0.992501,0,316,Average
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std,0.121191,0,322,High
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,-0.643433,0,314,Average
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,LOR_std,-0.481338,0,340,Very High